.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formwrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLable {
  margin-top: 0;
  margin-bottom: 20px;
}

.homePageLogo {
  height: 80px;
  /* width: 90px; */
  margin-bottom: 10px;
  margin-top: 0px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #4aee88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover {
  background: #2b824c;
}

.create-Info {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
  color: #2b824c;
  border-color: #2b824c;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
}

footer a:hover{
  color: #2b824c;
  border-color: #2b824c;
}


