.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formwrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLable {
  margin-top: 0;
  margin-bottom: 20px;
}

.homePageLogo {
  height: 80px;
  /* width: 90px; */
  margin-bottom: 10px;
  margin-top: 0px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #4aee88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover {
  background: #2b824c;
}

.create-Info {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
  color: #2b824c;
  border-color: #2b824c;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
}

footer a:hover{
  color: #2b824c;
  border-color: #2b824c;
}

/* Editor page ka css */
.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientsList {
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;
}

.client {
  display: flex;
align-items: center;
flex-direction: column;
font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #9ca7e1;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  margin-top: 20px;
  background: #4aee88;
}

.leaveBtn:hover {
  background: #2b824c;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;

}